.modal-box{
	position:absolute;
	width:50%;
	height:500px;
	background-color:#AAA;
	top:20%;
	left:20%;	
	border-radius:10px;
	
}
.close-btn{
	font-size:25px;
	border:1px;
	float:left;
	font-weight:bold;
	margin:5px;
	border-radius:10px;
	background-color:#FFF;
	text-align:center;
}
.close-btn:hover{
	background-color: red;
	color:black;
	
}

.content h2{
	color: red;

}

.content{
	padding: 20px;
}
